* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 500px;
}

.home-services {
  width: 100vw;
  min-height: 45vh;
  background: var(
    --primaria-banner,
    linear-gradient(180deg, #1843a6 0%, #c9d5e9 100%)
  );
  padding-top: calc(15vh + 60px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.home-services h1 {
  font-family: "Nunito", sans-serif;
  font-size: 2.6875rem;
  color: var(--primaria-4);
  line-height: 54px;
}

.border-home {
  max-width: 100vw;
}

.container-services-page-main {
  width: 100vw;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container-services-page-main .buttons-services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-services-page-main .buttons-services h1 {
  font-family: "Nunito", sans-serif;
  font-size: 2.6875rem;
  line-height: 54px;
}

.container-services-page-main .buttons-services .btn-option-service {
  width: 350px;
  font-family: "Nunito", sans-serif;
  font-size: 1.25rem;
  background: var(--base-2, #b7b4ab);
  line-height: 26px;
  margin-bottom: 25px;
  padding: 17px 75px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.container-services-page-main
  .buttons-services
  .btn-option-service:nth-child(2) {
  margin-top: 50px;
}

.container-services-page-main .buttons-services .btn-service-active {
  color: var(--branco);
  background: var(
    --primaria-1,
    linear-gradient(90deg, #f6b53f 0%, #d0901a 100%)
  );
}

.container-services-page-main .container-description-service {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-description-service .container-img-page-services img {
  width: 350px;
  border-radius: 30px;
  margin-left: 30px;
}

.container-description-service h1 {
  font-family: "Nunito", sans-serif;
  font-size: 2.68rem;
  color: var(--primaria-2);
  margin: 50px 0;
  line-height: 54px;
  text-align: center;
}

.container-description-service p {
  font-family: "Open Sans";
  font-size: 1.125rem;
  line-height: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.container-description-service .value-service {
  width: 100%;
  margin-top: 100px;
}

.container-description-service #schedule {
  font-family: "Nunito", sans-serif;
  font-size: 2.68rem;
  color: var(--base-1);
  line-height: 54px;
  border-radius: 30px;
  margin-top: 54px;
  padding: 10px 20px;
  background: var(
    --primaria-1,
    linear-gradient(90deg, #f6b53f 0%, #d0901a 100%)
  );
}

@media (max-width: 480px) {
  .home-services {
    max-width: 100%;
  }

  .home-services h1 {
    text-align: center;
    margin: 0 auto;
  }

  .container-description-service .container-img-page-services img {
    max-width: 180px;
    margin: 30px auto;
  }

  .container-description-service h1 {
    font-size: 2.38rem;
  }

  .container-description-service p {
    max-width: 80%;
  }

  .container-description-service .value-service {
    max-width: 90%;
    margin-top: 100px;
  }

  .container-description-service #schedule {
    font-size: 2rem;
    max-width: 90%;
    text-align: center;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .container-services-page-main .container-description-service {
    max-width: 90%;
    justify-content: center;
  }

  .container-description-service .container-img-page-services img {
    width: 250px;
    margin: 30px auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .home-services {
    min-height: 35vh;
  }

  .container-services-page-main .container-description-service {
    max-width: 90%;
    justify-content: center;
  }

  .container-description-service .container-img-page-services img {
    width: 300px;
    margin: 30px auto;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .home-services {
    min-height: 35vh;
  }

  .container-services-page-main {
    flex-wrap: nowrap;
    max-width: 95%;
  }

  .container-services-page-main .buttons-services {
    margin-left: 40px;
  }

  .container-services-page-main .container-description-service {
    margin-left: 50px;
  }

  .container-description-service .container-img-page-services img {
    width: 250px;
    margin: 30px auto;
  }
}
